* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::before,
::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}
li {
  list-style: none;
}
html {
  font-size: 16px;
  font-family: Poppins, system-ui, sans-serif;
}
button {
  border-width: 0;
  border-style: none;
  font-size: 16px;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Poppins, system-ui, sans-serif;
}
